


<!--<h1>Add Product</h1>
<table border="1">
    <tr>
        <td>ProdId</td>
        <td><input type="number" [(ngModel)]="model.prodId" /></td>
    </tr>
    <tr>
        <td>ProdName</td>
        <td><input type="text" [(ngModel)]="model.prodName"/></td>
    </tr>
    <tr>
        <td>ProdCost</td>
        <td><input type="number" [(ngModel)]="model.prodCost"/></td>
    </tr>
    <tr>
        <td>ProdDescription</td>
        <td><input type="string" [(ngModel)]="model.prodDescription"/></td>
    </tr>
    <tr>
        <td>ProdQuantity</td>
        <td><input type="number" [(ngModel)]="model.prodQuantity" /></td>
    </tr>
    <tr>
        <td>ProdId</td>
        <td><input type="number" [(ngModel)]="model.prodRating" /></td>
    </tr>
</table>
<br> 
<tr>
    <input type="button" class="btn btn-primary" value="Add" (click)="addProduct()"/>
</tr>
-->
<div class="container card shadow-lg p-3 mb-5 bg-white rounded">
    <h3>Add Product  </h3>
  <form>
    <label>Product Id :</label>
    <input  [(ngModel)]="model.productId" [pattern]="idPattern" #id="ngModel" [ngModelOptions]="{standalone: true}" type="text" class="form-control col-md-5" id="productId" placeholder="...">
    <small *ngIf="id.errors?.pattern" style="color: rgb(38, 0, 255)(38, 0, 255);">Invalid ID. Please enter a valid id.</small>
    <br>

    <label>Product Name:</label>
    <input (blur)="validateName()" [(ngModel)]="model.productName" [ngModelOptions]="{standalone: true}" type="text" class="form-control col-md-5" id="productName" placeholder="...">
    <small *ngIf="nameValid" style="color:  rgb(38, 0, 255)(38, 0, 255);">Enter valid name.</small>
    <br>

    <label>Product Description :</label>
    <input (blur)="validateDesc()" [(ngModel)]="model.productDesc" [ngModelOptions]="{standalone: true}" type="string" class="form-control col-md-5" id="productDesc" placeholder="...">
    <small *ngIf="descriptionValid" style="color: rgb(38, 0, 255)(38, 0, 255);">Enter valid description</small>
    <br>

   
    <label>Product Cost :</label>
    <input (blur)="validateCost(); enableButton()" [(ngModel)]="model.price" [ngModelOptions]="{standalone: true}" type="number" class="form-control col-md-5" id="price" placeholder="...">
    <small *ngIf="costValid" style="color:  rgb(38, 0, 255)(38, 0, 255);">Invalid Cost limit.</small>

    <br>

    <label>Product Quantity :</label>
    <input (blur)="validateQuantity(); enableButton()" [(ngModel)]="model.quantity" [ngModelOptions]="{standalone: true}" type="number" class="form-control col-md-5" id="quantity" placeholder="...">
    <small *ngIf="quantityValid" style="color:  rgb(38, 0, 255)(38, 0, 255);">Invalid Quantity limit </small>

    <br>

    <label>Product Rating :</label>
    <input (blur)="validateRating(); enableButton()" [(ngModel)]="model.ratings" [ngModelOptions]="{standalone: true}" type="number" class="form-control col-md-5" id="ratings" placeholder="...">
    <small *ngIf="ratingValid" style="color:  rgb(38, 0, 255)(38, 0, 255);">Invalid Rating limit </small>

    <br>
    
    <div class="col-md-3 offset-md-9">
            <button [disabled]="!buttonFlag" type="button" class="confBtn btn btn-success" (click)="addProduct()">ADD PRODUCT</button>
        </div></form>
        </div>



