

<!-- HEADER -->
<head>
<style>
body{background-color:hsla(120,100%,75%,0.3);}
</style>
</head>
<body>







<h1>PRODUCT MANAGEMENT SYSTEM</h1>
<br>
<nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link" href="/add">Add Product</a>
    <a class="nav-item nav-link" href="/show">Show Product</a>
</nav>
<router-outlet></router-outlet>
<body>
<div class="allButFooter">
  <!-- Your page's content goes here, including header, nav, aside, everything -->
</div>
<!-- Footer -->
<footer class="footer mt-auto py-3" style="background-color: black;">
  <div class="container">
    <span class="text-muted">Product Management System 2020</span>
  </div>
</footer>
</body>
  <!-- Footer -->